.App{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.head{
  background-color: black;
  padding: 30px;
}
.head input{
    padding: 10px;
    width: 400px;
}
.head button{
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: black;

  
}
.head button:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
  
}
.main-content{
  padding: 30px;
}

.main-content img{
    padding: 20px;
    width: 200px;
    height: 200px;
}